@using BetterCms.Demo.Web.Helpers
@model BetterCms.Demo.Web.Models.ContactFormViewModel

@{ Model.EmailTo = OptionsHelper.GetValue(Model.Options, "EmailToAddress"); }

@using (Html.BeginForm("ContactForm", "Contact", FormMethod.Post, new { @class = "autobind" }))
{
    <div class="heading3">Gửi yêu cầu</div>

    <div class="field-holder">
    <div>
        @Html.LabelFor(m => m.Name)
        </div>
        @Html.TextBoxFor(m => m.Name, new { @class = "text-field",style="width:100%;height:20px;" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="field-holder">
           <div>
        @Html.LabelFor(m => m.Email)
        </div>
        @Html.TextBoxFor(m => m.Email, new { @class = "text-field",style="width:100%;height:20px;" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="field-holder">
            <div>
        @Html.LabelFor(m => m.Message)
        </div>
        @Html.TextAreaFor(m => m.Message, new { @class = "text-area", style="width:100%;height: 80px;" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    
    @Html.HiddenFor(m => m.EmailTo)
    @*<a class="btn-primary" data-url="/contacts/submit-form">Send</a>*@
     <div style="text-align: center">
    <button class="button1" data-url="/contacts/submit-form" type="submit">Gửi yêu cầu</button>
    </div>
}
