@{
    Layout = "~/Views/Shared/Fataco/_FatacoLayout.cshtml";
}

 <div class="main">  
<section>
@section HeadScripts {
    @RenderSection("HeadScripts", false)  
}
                        <div class="row"> 
                            <div class="paneTop">
                             @RenderSection("Top", false)
                            </div>

                            <div class="paneLeft">
                                 @RenderSection("Left", false)
                            </div>
                            <div class="paneRight"> 
                                @RenderSection("Right", false)
                            </div>
                            <div class="clear"></div>
                            
                            <div class="paneBottom">
                             @RenderSection("Bottom", false)
                            </div>
                        </div>
@RenderBody()
                    </section>
</div>
 @RenderSection("scripts", required: false)
@section Scripts {

    <script type="text/javascript">
        $('.VMENU_1').hide();
        $('.a_s').parent('li').parent('ul').each(function () {
            $(this).show();
            $(this).siblings('a').parent('li').parent('ul').show();
        });


        $('.VMENU_0').children('li').children('a').click(function () {
            $('.VMENU_1').hide('slow');
            $(this).siblings('ul').show('slow');
        })
        $('.VMENU_1').children('li').children('a').click(function () {
            $('.VMENU_2').hide('slow');
            $(this).siblings('ul').show('slow');
        })
        $('.VMENU_0> li > a').click(function ()
        {
            if ($(this).siblings('ul').length>0)
            {
                return false;
            }
        });
    </script>
    @RenderSection("Scripts", false)

}
