
@using BetterCms.Demo.Web
@{ Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml"; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <title>FATOCO layout</title>



    <link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />

    
    <script src="@Url.Content("~/Content/Fataco/js/jquery-1.8.0.min.js")"></script>
    <!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
    <script src="@Url.Content("~/Content/Fataco/js/functions.js")"></script>
    <script src="@Url.Content("~/Content/Fataco/js/jquery.jcarousel.min.js")"></script>
    <script src="@Url.Content("~/Content/Fataco/js/jcarousel.responsive.js")"></script>
    <script src="@Url.Content("~/Content/Fataco/js/jquery.jticker.js")"></script>
    <script src="@Url.Content("~/Content/Fataco/js/colorbox/jquery.colorbox-min.js")"></script>
                
    <link href="@Url.Content("~/Content/Fataco/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Fataco/css/add.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Fataco/js/colorbox/colorbox.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Fataco/css/jcarousel.responsive.css")" rel="stylesheet" />

   
    @RenderSection("HeadScripts", false)
 



    <script type="text/ecmascript">
        $(function () {
            $(".group1").colorbox({ rel: 'group1' });
            $('.jcarousel').jcarousel({
                // Configuration goes here
            });
            $("#ticker").ticker({
                cursorList: " ",
                rate: 10,
                delay: 4000
            }).trigger("play");
            $('.VMENU_1').hide();
            $('.VMENU_0').children('li').children('a').click(function () {
                $('.VMENU_1').hide('slow');
                $(this).siblings('ul').show('slow');
            })
            $('.VMENU_1').children('li').children('a').click(function () {
                $('.VMENU_2').hide('slow');
                $(this).siblings('ul').show('slow');
            })
        });
    </script>
</head>
<body>
 
    <!-- wraper -->
    <div id="wrapper">
        <!-- shell -->
        <div class="shell">
            <!-- container -->
            <div class="container">
                <!-- header -->
                <header id="header">
                    <h1 id="logo"><a href="#">Curve</a></h1>

                    <div class="flash_box">
                        <div id="ticker" style="width: 310px; height: 80px; color: White; line-height: normal;
                            font-weight: bold; font-style: italic;">
                            <span id="dnn_header_lblQuotation1">
                                <div>
                                    <p style="font-size: 13pt;">"FATACO – NGƯỜI BẠN THÂN THIẾT CỦA MỌI GIA ĐÌNH"</p>
                                    <p style="text-align: right; margin-top: 10px; font-size: 7pt;">
                                        <strong>Sách 15 năm
                                        quan hệ kinh tế thương mại Việt Nam – Hoa kỳ</strong>
                                    </p>
                                </div>
                            </span>
                            <span id="dnn_header_lblQuotation2">
                                <div>
                                    <p style="font-size: 13pt;">"ĐỊA CHỈ CỦA LÒNG TIN VÀ CHẤT LƯỢNG"</p>
                                    <p style="text-align: right; margin-top: 10px; font-size: 7pt;">
                                        <strong>Vietnam business
                                        forum</strong>
                                    </p>
                                </div>
                            </span>
                            <span id="dnn_header_lblQuotation3">
                                <div>
                                    <p style="font-size: 13pt;">"NIỀM TỰ HÀO CHO NGÀNH NHỰA VIỆT NAM"</p>
                                    <p style="text-align: right; margin-top: 10px; font-size: 7pt;">
                                        <strong>Tạp chí Thương
                                        hiệu Việt</strong>
                                    </p>
                                </div>
                            </span>

                        </div>
                    </div>


                    <!-- search -->
                    <div class="search">

                        <div class="flag_box">
                            <div class="flag_en">
                                <a href="javascript:__doPostBack('dnn$header$link_en','')" id="dnn_header_link_en">English</a>
                            </div>
                            <div class="flag_saperator">|</div>
                            <div class="flag_vi">
                                <a href="javascript:__doPostBack('dnn$header$link_vi','')" id="dnn_header_link_vi">Tiếng
                                    Việt</a>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div style="clear: both"></div>
                        <div>
                            <form method="post">
                                <span class="field">
                                    <input type="text" class="field" value="keywords here ..." title="keywords here ..." /></span>
                                <input type="submit" class="search-btn" value="" />
                            </form>
                        </div>
                    </div>
                    <!-- end of search -->
                </header>
                <!-- end of header -->
                <!-- navigation -->
                <nav id="navigation">
                    <a href="#" class="nav-btn">HOME<span class="arr"></span></a>
                    <ul>
                        @{ Html.RenderAction("TopMenu", "SiteMap", new { area = "" }); }
                    </ul>
                </nav>
                <!-- end of navigation -->
                <!-- main -->
                <div class="main">  
                    @RenderBody() 
                </div>
                <!-- end of main -->
                <div class="socials">
                    <div class="socials-inner">
                        <h3>Follow us</h3>
                        <ul>
                            <li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
                            <li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
                            <li><a href="#" class="rss-feed-ico"><span></span>Rss-feed</a></li>
                            <li><a href="#" class="myspace-ico"><span></span>myspace</a></li>
                            <li><a href="#" class="john-doe-123-ico"><span></span>john.doe.123</a></li>
                        </ul>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
                <div id="footer">
                    <div class="footer-cols">
                        @{ Html.RenderAction("FooterMenu", "SiteMap", new { area = "" }); }
                        @*<div class="col">
                            <h2>About Us</h2>
                            <ul>
                                <li><a href="#">Company profile</a></li>
                                <li><a href="#">Awards</a></li>
                                <li><a href="#">Company Picture</a></li>

                            </ul>
                        </div>
                        <div class="col">
                            <h2>Product</h2>
                            <ul>
                                <li><a href="#">Melamine</a></li>
                                <li><a href="#">Plastic</a></li>
                                <li><a href="#">Acrylic</a></li>

                            </ul>
                        </div>
                        <div class="col">
                            <h2>News & Event</h2>
                            <ul>
                                <li><a href="#">Industry</a></li>
                                <li><a href="#">Company</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>Q & A</h2>
                            <ul>
                                <li><a href="#">Introduction of melamine</a></li>
                                <li><a href="#">Melamine product Q&A</a></li>
                                <li><a href="#">Qualified for food sanitary</a></li>

                            </ul>
                        </div>*@
                        <div class="cl">&nbsp;</div>
                    </div>
                    <!-- end of footer-cols -->
                    <div class="footer-bottom">
                        <nav class="footer-nav">
                            <ul>
                                @{ Html.RenderAction("TopMenu", "SiteMap", new { area = "" }); }
                            </ul>
                        </nav>
                        <p class="copy">
                            &copy; Copyright 2012 FATACO <span>|</span> <strong>Design by
                            <a href="http://fataco.com" target="_blank">FATACO</a></strong>
                        </p>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>
            <!-- end of container -->
        </div>
        <!-- end of shell -->
    </div>
    <!-- end of wrapper -->


    @RenderSection("scripts", required: false)
</body>
</html>
