@using PagedList;
@using PagedList.Mvc;
@using BetterCMS.Module.Store.ViewModels;
@using BetterCMS.Module.Store.Helpers;

@model IPagedList<ProductViewModel>
<style type="text/css">
    .heading3 a {
        color: #6D276F;
    }
</style>
@if (ViewBag.AllProduct == false)
{
    string categoryName = "Sản phẩm";
    if (Utility.CurrentLanguageCode == "en")
    {
        categoryName = "Products";
    }
    CategoryViewModel category = (CategoryViewModel)ViewBag.Category;
    if (category != null)
    {
        categoryName = category.Name;
        if (Utility.CurrentLanguageCode == "en")
        {
            categoryName = category.Name_en;
        }
    }
    
    <link rel="stylesheet" href="/file/bcms-store/content/styles/pagedlist.css" />
    <div class="heading3">@categoryName</div>
    <div>
    @foreach (ProductViewModel item in Model)
    {
        {Html.RenderPartial("~/Areas/bcms-store/Views/Widget/Partial/_DisplayProduct.cshtml", item);}
    }
    </div>
    <div style="clear:both;"></div>
    if (ViewBag.ShowPager)
    {
        @Html.PagedListPager((IPagedList)Model, page => Utility.AppendQueryString(new List<KeyValuePair<String, String>> { new KeyValuePair<string, string>("page", page.ToString()) }))    
    }
}
else
{
    var viewAllText = "Xem tất cả";
    CategoryViewModel firstCategory = ViewBag.FirstCategory;
    CategoryViewModel secondCategory = ViewBag.SecondCategory;
    CategoryViewModel thirdCategory = ViewBag.ThirdCategory;
    string FirstCategoryTitle = firstCategory.Name;
    string SecondCategoryTitle = secondCategory.Name;
    string ThirdCategoryTitle = thirdCategory.Name;
   
    if (Utility.CurrentLanguageCode == "en")
    {
        viewAllText = "View all";
        FirstCategoryTitle = firstCategory.Name_en;
        SecondCategoryTitle = secondCategory.Name_en;
        ThirdCategoryTitle = thirdCategory.Name_en;

    }
    string firstProductUrl = "?t=" + FirstCategoryTitle.GenerateSlug() + "&id=" + firstCategory.Id.ToString().ShortGuid();
    string secondProductUrl = "?t=" + SecondCategoryTitle.GenerateSlug() + "&id=" + secondCategory.Id.ToString().ShortGuid();
    string thirdProductUrl = "?t=" + ThirdCategoryTitle.GenerateSlug() + "&id=" + thirdCategory.Id.ToString().ShortGuid();
    
    <div class="heading3"><a href="@firstProductUrl">@FirstCategoryTitle</a></div>
    <div>
        @foreach (ProductViewModel item in ViewBag.FirstProducts)
        {
            {Html.RenderPartial("~/Areas/bcms-store/Views/Widget/Partial/_DisplayProduct.cshtml", item);}
        }
    </div>
    <div style="clear:both;"></div>
    <div style="text-align:right;"><a style="font-weight: bold; color: #6d276f;" href="@firstProductUrl">@viewAllText >></a></div>
    
    <div class="heading3"><a href="@secondProductUrl">@SecondCategoryTitle</a></div>
    <div>
        @foreach (ProductViewModel item in ViewBag.SecondProducts)
        {
            {Html.RenderPartial("~/Areas/bcms-store/Views/Widget/Partial/_DisplayProduct.cshtml", item);}
        }
    </div>
    <div style="clear:both;"></div>
    <div style="text-align:right;"><a style="font-weight: bold; color: #6d276f;" href="@secondProductUrl">@viewAllText >></a></div>
    
    <div class="heading3"><a href="@thirdProductUrl">@ThirdCategoryTitle</a></div>
    <div>
        @foreach (ProductViewModel item in ViewBag.ThirdProducts)
        {
            { Html.RenderPartial("~/Areas/bcms-store/Views/Widget/Partial/_DisplayProduct.cshtml", item); }
        }
    </div>
    <div style="clear:both;"></div>
    <div style="text-align:right;"><a style="font-weight: bold; color: #6d276f;" href="@thirdProductUrl">@viewAllText >></a></div>
    
    
    
}

