@using BetterCMS.Module.Store.ViewModels;
@using BetterCMS.Module.Store.Helpers;

@model ProductViewModel
<style type="text/css">
    .jcarousel .m-product {
        width:160px !important;
    }
    .jcarousel-control-prev, .jcarousel-control-next {
        top: 30%;
    }
</style>
@{
    string categoryName = "";
    CategoryViewModel category = (CategoryViewModel)ViewBag.Category;
    string codeLabel = "Mã";
    string sizeLabel = "Cỡ";
    string colorLabel = "Màu";
    string infoText = "Thông tin chi tiết";
    string relatedText = "Sản phẩm liên quan";
    string description = Model.Description;
    if (Utility.CurrentLanguageCode == "en")
    {
        codeLabel = "Code";
        sizeLabel = "Size";
        colorLabel = "Color";
        infoText = "Detail information";
        relatedText = "Related products";
        if (!string.IsNullOrWhiteSpace(Model.Description_en))
        {
            description = Model.Description_en;
        }
    }
    if (category != null)
    {
        categoryName = category.Name;
        if (Utility.CurrentLanguageCode == "en")
        {
            categoryName = category.Name_en;
        }
    }
    ViewBag.DetailUrl = HttpContext.Current.Request.Url.AbsolutePath;
}
@if (!string.IsNullOrWhiteSpace(categoryName))
{
    <div class="heading3">@categoryName > @Model.Code</div>    
}
else
{
    <div class="heading3">@Model.Code</div>    
}
<br />
<div>
    <div class="product-image">
        <img src="@(Model.Image != null ? Model.Image.ImageUrl + "?width=700" : "/content/fataco/images/no-image.jpg?width=700")" />
    </div>

    <div>
        <div class="heading2">@infoText</div>
        <div class="m-product-name"><strong>@codeLabel: </strong>@Model.Code</div>
        @*@if (!string.IsNullOrWhiteSpace(Model.Size))
        {
            <table cellpadding="0" cellspacing="2">
                <tbody>
                    <tr>
                        <td><strong>@sizeLabel:</strong></td>
                        <td align="left">@Html.Raw(Model.Size.Replace(Environment.NewLine, "<br/>"))</td>
                    </tr>
                </tbody>
            </table>
        }*@
        @if (!string.IsNullOrWhiteSpace(Model.Color))
        { 
            <div class="m-product-desc">
                <strong style="float: left;">@colorLabel: </strong>
                @{
                    string[] arrColor = Model.Color.Split(';');
                    foreach (string color in arrColor)
                    {
                        if (!string.IsNullOrWhiteSpace(color))
                        {
                            <span style="width: 15px; height: 15px;border: 1px solid gray; margin-left: 3px; float: left; background: @color"></span>
                        }
                    }
                }
                <br>
            </div>
        }
        <div class="product-detail">
            @Html.Raw(description)
        </div>
        <br /><br />
        @if (ViewBag.RelatedProducts != null)
        {
            <div class="heading2">@relatedText</div>
            <div class="jcarousel-wrapper" style="box-shadow:none;">
                <div class="jcarousel">
                    <ul>
                        @foreach (ProductViewModel item in ViewBag.RelatedProducts)
                        {
                            { Html.RenderPartial("~/Areas/bcms-store/Views/Widget/Partial/_DisplayProduct.cshtml", item); }

                        }
                    </ul>

                </div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            </div>
        }
        
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.jcarousel').jcarousel({
            items: '.m-product',
            width: '150px'
        });
    });
</script>