@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCMS.Module.Store.Controllers
@using BetterCMS.Module.Store.ViewModels
@using Microsoft.Web.Mvc

@model EditProductViewModel

<div class="bcms-scroll-window" style="height: 527px;">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-new-blog-content">
        @using (Html.BeginForm<ProductController>(c => c.SaveProduct(null), FormMethod.Post, new { @class = "bcms-ajax-form" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Version)
            @Html.HiddenFor(m => m.Image.ImageId, new { data_bind = "value: image().id()" })
            @Html.HiddenFor(m => m.Image.ThumbnailUrl, new { data_bind = "value: image().thumbnailUrl()" })
            
            <div class="bcms-blog-left">
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Category</div>
                    @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.ParentCategories, "Key", "Value"), new { @class = "bcms-global-select", @style = "width: 400px;" })
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Code</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.Code, new { @class = "bcms-editor-field-box" })
                        @Html.BcmsValidationMessageFor(m => m.Code)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Description (vi)</div>
                    @Html.TextAreaFor(m => m.Description, new { @id = "bcms-description" })
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Description (en)</div>
                    @Html.TextAreaFor(m => m.Description_en, new { @id = "bcms-description_en" })
                </div>
                
            </div>
            
            <div class="bcms-blog-right">
                <div class="bcms-create-author-holder">
                    <div class="bcms-content-titles">Image</div>
                    <div class="bcms-uploaded-image">
                        <!-- ko if: image().url() -->
                        <a class="bcms-remove-image" data-bind="click: image().remove.bind(image())">Remove</a>
                        <a data-bind="click: image().preview.bind(image())">
                            <img data-bind="attr: { src: image().thumbnailUrl(), alt: image().tooltip() }" />
                        </a>
                        <!-- /ko -->
                    </div>
                    <div class="bcms-upload-info">
                        <div class="bcms-upload-info-text">Image will be displayed as a thumbnail with your product.</div>
                        <div class="bcms-btn-small" data-bind="click: image().select.bind(image())">Select Image</div>
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Size</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.Size, new { @class = "bcms-editor-field-box" })
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Color</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.Color, new { @class = "bcms-editor-field-box" })
                        @Html.BcmsValidationMessageFor(m => m.Color)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Is Feature?</div>
                    <div class="bcms-input-box">
                        @Html.CheckBoxFor(m => m.IsFeature)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-content-titles">Sort Order</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.SortOrder, new { @class = "bcms-editor-field-box" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>